div.link1 a {
  color: red;
}

div.link2 a,
div.link2 p {
  color: rgb(6, 92, 6);
  font-size: 28px;
}

ol.blue-text li {
  color: rgb(4, 4, 209);
}

input[type="text"] {
  color: rgb(4, 4, 209);
}

h1 {
  color: rgb(243, 9, 9);
}

/*pseudo-class*/
.pseudo-hover:hover {
  color: rgb(4, 4, 209);
  font-weight: bold;
}

/*pseudo-element*/
p::before {
  content: ">";
  color: blue;
  font-weight: bold;
}

/*pseudo-element(控制頁面反白的顏色)*/
*::selection {
  background-color: lightgreen;
}
