div.link1 a {
  color: red;
}

div.link2 a,
div.link2 p {
  color: rgb(6, 92, 6);
  font-size: 28px;
}

ol.blue-text li {
  color: rgb(4, 4, 209);
}

input[type="text"] {
  color: rgb(4, 4, 209);
}

h1 {
  color: rgb(243, 9, 9);
}
