$themeColor: rgb(0, 89, 255);
$themeColor2: rgb(173, 248, 244);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  // 將畫面最下面的長方形超過的都隱藏
  overflow-x: hidden;
  nav {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 5;
    ul {
      display: flex;
      li {
        list-style: none;
        margin: 1rem;
        &:hover {
          background-color: $themeColor2;
          border-radius: 10px;
        }
        a {
          color: rgba(0, 0, 0, 0.801);
          text-decoration: none;
          transition: all 0.3s ease;
          &:hover {
            color: rgb(0, 89, 255);
            font-weight: 700;
          }
        }
      }
    }
  }

  main {
    section.main-area {
      min-height: 70vh;
      background-color: white;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      div.info {
        position: relative;
        z-index: 2;
        left: 100px;
        flex-basis: 450px;
        //   border: 2px solid red;
        h1 {
          font-size: 3rem;
        }
        h2 {
          font-size: 1rem;
        }
        a {
          color: white;
          background-color: $themeColor;
          padding: 0.25rem 0.5rem;
          font-size: 1.5rem;
          border-radius: 20px;
          display: inline-block;
          margin-top: 2rem;
          text-decoration: none;
          transition: all 0.2s ease;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
      div.img-area {
        flex-basis: 450px;
        //   border: 2px solid rgb(2, 87, 2);
        img {
          width: 100%;
        }
      }
    }

    section.about-me {
      background-color: rgb(173, 248, 244);
      padding: 5rem 0rem;
      display: flex;
      justify-content: center;
      align-items: center;

      section.description {
        width: 50%;
        text-align: center;
        h2 {
          font-size: 2rem;
        }
        div.progress-bar-area {
          p {
            margin-top: 1rem;
            margin-bottom: 0.5rem;
          }
        }
      }
    }

    section.resume {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem;
      section.table {
        // 將table 遮擋關閉(boostrap)
        --bs-table-bg: none;
        flex: 5 0 500px;
        // border: 2px solid red;
        padding: 0.5rem;
        table {
          border-collapse: collapse;
          tr {
            border-bottom: 2px solid gray;
            transition: all 0.3s linear;
            &:hover {
              background-color: $themeColor2;
            }
            td {
              font-size: 1rem;
              padding: 1rem;
            }
          }
        }
      }
      section.picture {
        flex: 1 1 400px;
        // border: 2px solid black;
        display: flex;
        justify-content: center;
        // align-items: stretch;<~~此為預設值
        align-items: center;
        position: relative;
        img {
          width: 85%;
          height: auto; /* 保持高度等比例縮放 */
          // max-width: 100%; /* 圖片最大寬度 */
        }
        div.blueRect {
          width: 30vw;
          height: 95vh;
          border: 10px solid $themeColor2;
          // border: 1px solid black;
          position: absolute;
          top: 30px;
          left: 80px;
          z-index: -1;
        }

        div.blueRect2 {
          width: 50vw;
          height: 40vh;
          border: 10px solid $themeColor2;
          position: absolute;
          top: 300px;
          left: -300px;
          z-index: -1;
        }

        div.blueRect3 {
          width: 50vw;
          height: 40vh;
          border: 10px solid $themeColor2;
          position: absolute;
          top: 0px;
          left: -100px;
          z-index: -1;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  body {
    main {
      section.about-me {
        section.description {
          width: 80%;
        }
      }

      section.resume {
        // 進入手機模式的話,將超過螢幕的部份=,可以用手滑來左右觀看
        overflow-x: auto;
        section.picture {
          div.blueRect,
          div.blueRect2,
          div.blueRect3 {
            display: none;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 560px) {
  body {
    nav {
      position: static;
      ul {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  body {
    main {
      section.main-area {
        div.info {
          left: 0;
        }
      }
    }
  }
}
