/* Add your custom styles here */

body {
  font-family: "Arial", sans-serif;
  background-color: #b2ddf1; /* 淡藍色背景，與元素顏色搭配 */
  color: #212529; /* 黑色文字，與淡藍色背景搭配 */
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.container {
  margin-top: 20px;
}

.module {
  background-color: #28a745;
  color: #fff;
  padding: 5px;
}

.info {
  margin-top: 10px;
}

.unit {
  margin-left: 5px;
  font-size: 20px;
}

.value {
  font-size: 20px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the font bold if desired */
  display: inline-block; /* Display as inline-block to align with unit */
}

.time-column {
  margin-top: 20px;
  text-align: center;
  background-color: #17a2b8;
  color: #fff;
  padding: 10px;
}

/* Add more styles as needed */
