* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  display: flex;
  justify-content: center;
  align-content: center;
  h1 {
    // border: 2px solid black;
    margin: 2rem;
  }
}
.container {
  border: 3px solid green;
  display: flex;
  justify-content: center;
  .column {
    padding: 2rem;
    border: 2px solid red;
    display: flex;
    flex-direction: column;

    div {
      p {
        justify-content: center;
        font-size: large;
        text-align: center;
      }
    }
  }
}
section {
  display: flex;
  border: 3px solid orange;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  p {
    font-size: large;
  }
}
