/* 頂部導覽樣式 */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

/* 頁頭樣式 */
header {
  background-color: #0099cc;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #fff;
}

/* 主要内容區域樣式 */
main {
  background-color: #f5f5f5;
  padding: 20px;
}

/* 文章樣式 */
article {
  margin-top: 20px;
}

h2 {
  color: #333;
}

/* 頁尾樣式 */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
